body {
  padding: 50px;
  font-size: small;
}
header {
  background-color: whitesmoke;
  padding: 0px;
  margin-bottom: 0px;
}
.tag-line {
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  gap: 20px;
  /*justify-items: center;*/
}
.experience {
  flex: 1 3 500px;
}
.summary {
  flex: 1 1 300px;
}
.skills {
  flex: 1 1 350px;
}
h2 {
  margin-bottom: 5px;
}
.subtitle {
  color: aqua;
  margin: 0px;
  padding: 0px;
  font-size: medium;
}
.title {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  margin-top: 0px;
  padding-left: 0px;
}
footer {
  text-align: center;
}
.contact-button {
  text-align: center;
}
